    <main id="main-content">
      <!-- 3. Hero image -->
      <section class="hero-section">
        <div class="hero-overlay">
        </div>
        <div>

          <%= image_tag "photos/cars-daytime-fashion-886404.jpg", class: "hero-image" %>
            
        </div>
        <div class="hero-text-container">
          <h1 class="hero-text">AUTHENTIC GRACE</h1>
          <h2 class="hero-text">Boutique</h2>
          <p class="hero-text">Timeless basics + bold statements</p>
        </div>
      </section>


      <!-- 4. Image Grid Section-->

      <section id="image-grid-section" class="image-grid-container">
        <p class="image-grid-heading">SHOP THE LOOK</p>
        <div class="image-grid-wrapper">
          <figure class="image-wrapper">
            <%= image_tag "photos/adult-beach-beautiful-1252982.jpg", class: "grid-image grid-image-1", alt: "Stylish womann wearing mustard yellow outfit, large frame white wunglasses, and a hat" %>
          </figure>

          <figure class="image-wrapper">
            <%= image_tag "photos/blur-colors-details-792762.jpg", class: "grid-image grid-image-2", alt: "Close-up of woman's hand in front pocket of gray trousers" %>
          </figure>

          <figure class="image-wrapper">
           <%= image_tag "photos/adult-alluring-attractive-2808756.jpg", class: "grid-image grid-image-3", alt: "Woman wearing white jeans and a sleeveless summer top, eating and ice cream cone" %>
          </figure>

          <figure class="image-wrapper">
           <%= image_tag "photos/armchair-attractive-beautiful-761872.jpg", class: "grid-image grid-image-4", alt: "Woman seated wearing cowl neck white sweater and skinny jeans" %>
          </figure>

          <figure class="image-wrapper">
           <%= image_tag "photos/boots-cardigan-denim-6710.jpg", class: "grid-image grid-image-5", alt: "Legs of woman walking, wearing blue jeans and brown ankle boots" %>
          </figure>

          <figure class="image-wrapper">
           <%= image_tag "photos/accessory-adult-beach-1102225.jpg", class: "grid-image grid-image-6", alt: "Close-up of a basket purse" %>
          </figure>

          <figure class="image-wrapper image-7-wrapper">
           <%= image_tag "photos/dress-expecting-fashion-1427934.jpg", class: "grid-image grid-image-7", alt: "Pregnant woman wearing a black hat and light floral blouse and skirt" %>
          </figure>

          <figure class="image-wrapper">
           <%= image_tag "photos/blurred-background-bridge-daylight-3011518.jpg", class: "grid-image grid-image-8", alt: "Legs outside pointing up to the sky and wearing jeans and red sneakers" %>
          </figure>

          <figure class="image-wrapper">
           <%= image_tag "photos/adult-beautiful-bench-1055691.jpg", class: "grid-image grid-image-9", alt: "Woman smiling, seated on outside staircase wearing mustard yellow dress and gray boots" %>
          </figure>
        </div>
      </section>


      <!-- 5. Collection -->
      <section class="collection-container">
        <article>
          <p class="collection-text">Stylish clothing made for movement.</p>
          <p class="collection-text">Quality, washer-friendly, stain-resistant fabrics.</p>
          <p class="collection-text">Love it or return it hassle-free.</p>
        </article>
        <a href="#"><button class="button button-collection">COLLECTION</button></a>
      </section>

      <!-- 6. Style -->
      <section class="style-container blog-block">
        <figure class="blog-image">
          <img src="images\photos\image-for-blog-section-3.jpg" alt="Woman wearing striped blouse, standing in a field probably kissing a man, a hat is hiding their faces">
        </figure>

        <div class="blog-text-container">
          <p class="style-heading">STYLE</p>
          <p class="style-text">Our customer service stylists can help you get the effortless + classic look you desire. Just give us a call, come into the store, or e-mail us and we will be happy to assist you.</p>
          <p class="blog-text">Check out our blog for featured fashion pairings from our stylists and owner, as well as new additions to the Authentic Grace clothing collection.</p>
          <a href="#" class="btn-blog">BLOG</a>
        </div>
      </section>

      <!-- 7. Testimonials -->
      <section id="testimonials-section" class="testimonials-section">
        <p class="testimonials-heading">CUSTOMER TESTIMONIALS</p>
        <div class="testimonials-wrapper">
          <article class="testimonial">

            <figure class="testimonial-image-wrapper">
              <img src="images/photos/beautiful-brunette-cute-774909-square.jpg" alt="photo of Renee's face">
            </figure>

            <p class="review">I LOVE Authentic Grace. I’ve had some of their pieces for years and they hold up nicely. And make 
              no mistake, I’ve really put some of these clothes to the test with three small kids! I’ve never had 
              a juice spill that didn’t lift out easily, which is just the kind of clothing a busy SAHM like me needs
              in my life. Did I mention everything I own from this store can go in a washing machine? P.S. I never 
              feel “frumpy” in Authentic Grace, only beautiful.
            </p>
            <span><p>--Renee</p></span>
          </article>
          <article class="testimonial">

            <figure class="testimonial-image-wrapper">
              <img src="images/photos/adult-alluring-attractive-2741370-square.jpg" alt="photo of Madeleine's face">
            </figure>

            <p class="review">My first purchase from Authentic Grace was gorgeous, but after a couple weeks, I decided it wasn’t for
              me. Their customer service was awesome, and they made it so easy to return it, that I didn’t hesitate to 
              try again. I got to chatting with their customer service stylists about the look I wanted, and they were 
              very helpful in making suggestions for work clothing I might like. I get so many compliments at work on my new jumpsuit. 
            </p>
            <span><p>--Madeleine</p></span>
          </article>
          <article class="testimonial">

            <figure class="testimonial-image-wrapper">
              <img src="images/photos/attractive-beautiful-beauty-2704172-square.jpg" alt="photo of Violet's face">
            </figure>

            <p class="review">I always feel confident in my Authentic Grace gear! I love seeing that mix of classic style and fun finds in my
              wardrobe, and I feel like many of these items transition from casual day to night out very nicely (like the 
              Breezy Blazer). You can’t go wrong with multi-functional fashion, and it's so easy to order and ship quickly. Authentic
              Grace is my new favorite go-to site for clothes shopping. And I get a ton of compliments from my co-workers! 
            </p>
            <span><p>--Violet</p></span>
          </article>
        </div>
      </section>

      <!-- 8. Get in Touch -->
      <section id="contact" class="get-in-touch-container">
        <div class="contact">
          <p class="contact-heading">GET IN TOUCH</p>

          <!--Contact form here-->
          <form autocomplete="on">
            <ul class="form-style-1">
              <li>
                <label>Full Name <span class="required">*</span></label>
                <input type="text" name="first-name"
                 class="field-divided" placeholder="First"/> 
                <input type="text" name="field2" class="field-divided"
                 placeholder="Last" />
              </li>
              <li>
                <label for="email">Email <span class="required">*</span></label>
                <input id="email" type="email" name="email" class="field-long" placeholder="Email" />
              </li>
              <li class="subject">
                <label for="subject">Subject</label>
                <select id="subject" name="subject" class="field-select">
                  <option value="Select One">Select One</option>
                  <option value="Question">Question</option>
                  <option value="Customer Assistance">Customer Assistance</option>
                  <option value="Feedback">Feedback</option>
                </select>
              </li>
              <li>
                <label for="message">Your Message <span class="required">*</span></label>
                <textarea id="message" name="message" class="field-long field-textarea"></textarea>
              </li>
              <li class="submit-btn">
                <label for="submit" class="submit"></label>
                <input id="submit" type="submit" value="Submit" />
              </li>
            </ul>
          </form>
        </div>
      </section>



    </main>